.section-bio {
    min-height: 100vh;
    margin: auto;
    padding-top: 200px;
}

.bio-container {
    display: flex;
    justify-content: center;
}

.portrait {
    width: 300px;
    height: auto;
    margin-right: 30px;
}

.text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    margin-top: -80px;
}  

.bio-text {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    font-family: 'Montserrat Alternates', sans-serif;
    color: antiquewhite;
}