.section-bio {
    min-height: 100vh;
}

.bio-container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto auto;
    justify-content: center;
    padding-top: 5em;
    color: antiquewhite;
    font-size: 0.9em;
    margin-left: 0.8em;
    margin-right: 0.2em;
}

.portrait {
    width: auto;
    height: 15em;
    margin-right: -5em;

    /* image border */
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: rgb(74, 122, 141);
    border-width: 0.15em;
    border-radius: 10px;
    padding-left: 0.8em;
    padding-bottom: 0.8em;
    padding-top: 0.3em;
    padding-right: 0.3em;
}

.bio-text-1 {
    text-align: justify;
    font-family: 'Montserrat Alternates', sans-serif;
}

.bio-text-2 {
    grid-column: span 2;
    text-align: justify;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-top: 0.8em;
}