.contact-info-container {
    display: flex;
    justify-content: center;
}

.email-info {
    color: antiquewhite;
    margin-right: 20px;
    font-size: 0.9em;
}

.linkedin-info{
    margin-right: 1em;
}