.edu-header{
    text-align: right;
    font-size: 1.5em;
}

.edu-container {
    display: flex;
    flex-direction: column;
    text-align: right;
}
  
.edu-company {
    font-size: 1em;
    text-decoration-line: underline;
}
  
.edu-programme {
    font-size: 0.9em;
}
  
.edu-period {
    font-size: 0.7em;
    font-style: italic;
}

@media only screen and (min-width: 410px) {

    /* lgtm */
}
