.job-header{
    text-align: left;   
    font-size: 1.5em;
}

.jobs-container {
    display: flex;
    flex-direction: column;
    text-align: left;
}
  
.job-company {
    font-size: 1em;
    text-decoration-line: underline;
}
  
.job-title {
    font-size: 0.9em;
}
  
.job-period {
    font-size: 0.7em;
    font-style: italic;
}

@media only screen and (min-width: 410px) {
    .jobs-container {
        max-width: 12em;
    }
}

@media only screen and (min-width: 550px) {
    .jobs-container {
        max-width: 18em;
    }
}

@media only screen and (min-width: 1025px) {
    .job-container {
        max-width: none;
    }

    .job-header{
        font-size: 2em;
    }

    .job-company {
        font-size: 1.3em;
    }
      
    .job-title {
        font-size: 1.1em;
    }
      
    .job-period {
        font-size: 0.8em;
    }
}
