/* navbar */
nav{
    background-color: rgb(32, 2, 34);
}

.me-auto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.7em;
    flex: 1;
    min-width: 100%;
}
  
.me-auto a{
    font-family: 'Montserrat Alternates', sans-serif;
    text-transform: lowercase;
    color: antiquewhite;
    text-decoration: none;
    font-size: 1em;
    text-shadow: 1px 1px 6px lightblue;
    flex: 1;
}
  
.navbar a:hover{
    animation: navbarHover 0.7s;
    animation-fill-mode: forwards;
}


@media only screen and (min-width: 410px) {
    /* lgtm */
}

@media only screen and (min-width: 550px) {
    .me-auto {
        font-size: 1.1em;
    }
    .me-auto a{
        flex: 1;
    }
    .container{
        max-width: 38em;
    }
}

@media only screen and (min-width: 800px) {
    /* lgtm */
}

@media only screen and (min-width: 1025px) {
    /* lgtm */
}

@media only screen and (min-width: 1280px) {
    /* lgtm */
}