.section-title{
    height: 100vh;
}

.projects-container {
    display: flex;
    justify-content: center;
    min-height: 70%;
}
  
.projects-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0px;
}
 
.projects-wrapper > * {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
  }

.project img {
    background-color: slategrey;
    box-shadow: 0px 0px 18px lightblue;
    border-radius: 9px;
    width: 7em;
    transition: width 0.5s;
    transition-timing-function: ease-out;
}
  
.project p {
    color: antiquewhite;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 12px;
}

/* Change order of nth child when horizontal */
  
.project:nth-child(1){
    transition-delay: 0ms;
}
  
.project:nth-child(2){
    transition-delay: 200ms;
}
  
.project:nth-child(3){
    transition-delay: 400ms;
}


@media only screen and (min-width: 410px) {
    /* lgtm */
    
}

@media only screen and (min-width: 550px) {
    .projects-container {
        min-height: 60%;
    }

    .projects-wrapper {
        flex: 1;
        flex-direction: row;  
    }

    .project img {
        width: 9em;
    }
}

@media only screen and (min-width: 800px) {
    .project img {
        width: 11em;
    }

    .projects-wrapper {
        padding-left: 2em;
        padding-right: 2em;
        max-width: 60em;
    }

    
    @media (hover: hover) {
        .projects-wrapper img:hover{
            width: 250px;
        }
    }
}

@media only screen and (min-width: 1025px) {
    /* lgtm */
}

@media only screen and (min-width: 1280px) {
    /* lgtm */
}