@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.section-title {
  min-height: 100vh;
  margin: auto;
}

.section-bio {
  min-height: 100vh;
  margin: auto;
  padding-top: 200px;
}

.section-cv {
  min-height: 100vh;
  margin: auto;
  padding-top: 200px;
}

.hidden *{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show *{
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
  transition: all 1s;

}

.project:nth-child(3){
  transition-delay: 0ms;
}

.project:nth-child(2){
  transition-delay: 200ms;
}

.project:nth-child(1){
  transition-delay: 400ms;
}

@media(prefers-reduced-motion){
  .hidden {
    transition: none;
  }
}

.title {
  font-family: 'Montserrat Alternates', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  padding-top: 100px;
}

.me-auto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding-top: 10px;
}

.navbar h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  color: antiquewhite;
  font-size: 20px;
  font-weight: 500;
}

.navbar .links{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  margin-left: auto;
}

.me-auto a{
  font-family: 'Montserrat Alternates', sans-serif;
  color: antiquewhite;
  margin-left: 25px;
  margin-right: 25px;
  text-decoration: none;
  background-color: rgb(100, 110, 121);
  font-size: 15px;
  width: 80px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 6px lightblue;
}

.navbar a:hover{
  animation: navbarHover 0.7s;
  animation-fill-mode: forwards;
}

@keyframes navbarHover {
  from {
    color: antiquewhite;
    background-color: rgb(100, 110, 121);
  }
  to {
    color: rgb(100, 110, 121);
    background-color: antiquewhite;
  }
}

.projects-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.projects-container {
  display: flex;
  align-items: center;
}

.project img {
  background-color: slategrey;
  margin: 50px;
  margin-bottom: 0px;
  box-shadow: 0px 0px 18px lightblue;
  border-radius: 10px;
  width: 200px;
  transition: width 0.5s;
  transition-timing-function: ease-out;
  border-radius: 10px;
}

.projects-wrapper img:hover{
  width: 250px;
}

.project p {
  color: antiquewhite;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 12px;
}

.bio-container {
  display: flex;
  justify-content: center;
}

.portrait {
  width: 300px;
  height: auto;
  margin-right: 30px;
}

.bio-text {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  font-family: 'Montserrat Alternates', sans-serif;
  color: antiquewhite;
}

.text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  margin-top: -80px;
}

.section-cv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: antiquewhite;
  width: 50vw;
  margin-bottom: 25px;
}

.job-header{
  text-align: left;
}

.edu-header{
  text-align: right;
}

.jobs-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.edu-container {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.contact-info-container {
  display: flex;
  justify-content: center;
}

.contact-info-container p {
  color: antiquewhite;
  margin-right: 20px;
}

.job-company {
  font-size: 22px;
  text-decoration-line: underline;
}

.job-title {
  font-size: 18px;
}

.job-period {
  font-size: 12px;
  font-style: italic;
}

.edu-company {
  font-size: 22px;
  text-decoration-line: underline;
}

.edu-programme {
  font-size: 18px;
}

.edu-period {
  font-size: 12px;
  font-style: italic;
}
